.footer {
  background-color: var(--footer_color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__cont {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
  }
}

// footer__cont-one
.footer__cont-one {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.cont-one__box:nth-child(1) {
  display: flex;
  flex-flow: column;
}

.footer__logo {
  color: var(--general_bg);
  text-align: center;
  margin-bottom: 20px;

  font-size: 24px;
  line-height: 1.16;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer__adress {
  font-style: normal;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer__item {
  color: rgba(255, 255, 255, 0.6);

  &:nth-child(1) {
    color: var(--general_bg);
  }
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.footer__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--general_bg);
  }
}

.cont-one__box:nth-child(2) {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }

  @media screen and (min-width: 768px) {
    margin-left: 165px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}

.footer__join-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  margin-top: 0;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.social-ico__item--grey {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent_color);
  }
}

.social-ico__svg--white {
  fill: #fff;
}

// footer__cont-two
.footer__cont-two {
  @media screen and (max-width: 1599px) {
    margin-top: 60px;
  }

  @media screen and (min-width: 1200px) {
    display: inline-block;
    margin-left: 93px;
  }
}

.footer__email-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer__form {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer__input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
  min-width: 100%;
  margin-bottom: 20px;

  outline: transparent;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  color: #afb1b8;
  padding: 15px 16px;
  height: 50px;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent_color);
  }

  @media screen and (min-width: 768px) {
    max-width: 450px;
    min-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    max-width: 358px;
    min-width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.footer__button {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
}

.footer__send-svg {
  fill: #ffffff;
  position: absolute;
  top: 13px;
  right: 28px;

  margin-left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1200px) {
    margin-left: 10px;
  }
}
