.body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--general_color);
}

.link {
  text-decoration: none;
  color: inherit;
}

.list,
.paragraf,
.container__title {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sections-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  color: var(--title_color);
  margin: 0 0 30px 0;
  text-align: center;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 50px;
  }
}
